* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Use "theirs" strategy for content when merging main into cf-pages
content/** merge=theirs

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
