title: 'Global Settings'
tabs:
  main:
    display: Main
    sections:
      -
        fields:
          -
            handle: site_name
            field:
              character_limit: 0
              type: text
              localizable: false
              display: 'Site Name'
          -
            handle: current_location
            field:
              type: text
              localizable: false
              display: 'Current Location'
              instructions: 'Displayed in the sidebar widget'
          -
            handle: social
            field:
              fields:
                -
                  handle: name
                  field:
                    type: text
                    localizable: false
                    display: Name
                -
                  handle: url
                  field:
                    character_limit: 0
                    type: text
                    localizable: false
                    display: URL
                -
                  handle: icon
                  field:
                    type: text
                    localizable: false
                    display: Icon
                    instructions: 'SVG filename without extension (e.g. "pinterest")'
              mode: table
              add_row: 'Add Link'
              reorderable: true
              type: grid
              instructions: 'Set any social media links'
              localizable: false
              display: Social
